@charset "utf-8";
@font-face {
    font-family: "CookieRun";
    src: url('../fonts/CookieRunFont_TTF/CookieRun Regular.ttf');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "CookieRun" !important;
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

/* ::-webkit-scrollbar {
    display: none;
} */

body {
    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
}

.start_zone {
    width: 100%;
    padding-top: 20%;
}

.start_zone.off {
    animation: disappear 0s forwards;
    animation-delay: 1.6s;
}

@keyframes disappear {
    to {
        display: none;
    }
}

.start_box_container {
    margin-left: calc(50% - 60px);
}

.start_box {
    width: 120px;
    height: 30px;
    background-color: rgb(245, 89, 49);
    margin: 15px 0px;
    /* margin-left: calc(50% - 60px); */
    animation: slidein 1s ease-out forwards;
    opacity: 0;
    cursor: pointer;
}

.start_box:nth-child(2) {
    background-color: rgb(156, 47, 42);
    animation-delay: 0.3s;
}

.start_box:nth-child(3) {
    background-color: rgb(131, 40, 35);
    animation-delay: 0.6s;
}

.start_box.disappear {
    opacity: 1;
    animation: slideout 1s ease-in forwards;
}

.start_box.disappear:nth-child(2) {
    animation-delay: 0.3s;
}

.start_box.disappear:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes slidein {
    from {
        opacity: 0;
        transform: translateX(-500%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideout {
    from {
        opacity: 1;
        transform: translateX(0);
    }
    to {
        opacity: 1;
        transform: translateX(500%);
        opacity: 0;
    }
}

.main {
    width: 100%;
    height: 100vh;
    /* background-color: #000; */
    opacity: 0;
    animation: fadein 0.6s forwards linear;
    animation-delay: 1.6s;
    background-image: url('../src/Orange.jpg');
    background-size: cover;
}

.main .introduction {
    display: inline-block;
    width: 50%;
    height: 100%;
    padding-top: 3%;
    padding-left: 5%;
}

.introduction h1 {
    font-size: 50px;
    color: #00000000;
    -webkit-text-stroke: 2px #3f0000;
}

.introduction p {
    margin-bottom: 10px;
    color: #5e2b09;
}

.introduction ul {
    width: 70%;
    display: flex;
    background-color: #5f0d0d;
    justify-content: center;
    border-radius: 10px;
}

.introduction ul li {
    flex-grow: 1;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    /* padding: 10px; */
}

.introduction ul li:hover {
    background-color: #702b0b;
}

.introduction ul li p {
    font-size: 25px;
    color: #9e4328;
}

.introduce_selection {
    margin-top: 30px;
    width: 90%;
    /* height: 300px; */
    background-color: rgb(190, 54, 0);
    border-radius: 20px;
    opacity: 0.8;
    animation: ppyong 0.8s ease-in-out forwards;
}

@keyframes ppyong {
    from {
        transform: scale(0);
    }
    75% {
        transform: scale(1.3);
    }
    to {
        transform: scale(1);
    }
}

.introduce_selection article {
    padding: 10px;
}

.introduce_selection article strong {
    font-style: italic;
    font-size: larger;
}

.introduce_selection article.hobby img {
    width: 30px;
    height: 30px;
    transform: translateY(7px);
    cursor: pointer;
}

.introduce_selection article.hobby em.on {
    animation: colorchange 1s infinite;
    cursor: pointer;
}

@keyframes colorchange {
    0% { color: #2770bd }
    10% { color: #63957f; }
    20% { color: #b6a59d; }
    30% { color: #e5f0ec; }
    40% { color: #98e79d; }
    50% { color: #387af3; }
    60% { color: #b796fb; }
    70% { color: #ed72bb; }
    80% { color: #e59457; }
    90% { color: #626ba3; }
    100% { color: #2770bd; }
}

.introduce_selection article.hobby #guitar {
    display: inline;
    cursor: pointer;
}

.introduce_selection article.skill .nowords {
    cursor: pointer;
}

.introduce_selection article.off {
    display: none;
}

.main .guest_book_container {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    height: 100%;
    overflow:-moz-hidden-unscrollable;
}

.guest_book_container .new_guest_book {
    width: 100%;
    /* display: inline-block;
    vertical-align: top;
    width: 40%; */
    height: 240px;
    padding-top: 10%;
    margin-bottom: 20px;
    /* background-color: rgb(112, 21, 16); */
    /* margin-top: 3%; */
}

.new_guest_book .input_nickname {
    border: none;
    border-radius: 20px;
    width: 100%;
    font-size: 17px;
    padding: 5px;
    background-color: rgb(131, 40, 35);
    margin-bottom: 10px;
}

.new_guest_book .input_body {
    border: none;
    border-radius: 14px;
    resize: none;
    font-size: 17px;
    padding: 8px;
    background-color: rgb(131, 40, 35);
    width: 100%;
}

.new_guest_book .submit_btn {
    background-color: rgb(131, 40, 35);
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    cursor: pointer;
    font-size: larger;
    color: #291d07;
}

.new_guest_book .submit_btn:hover {
    background-color: rgb(170, 56, 51);
}

.main .guest_book {
    margin-top: 5%;
    width: 100%;
    height: calc(100% - 280px);
    overflow-x: hidden;
    overflow-y: scroll;
    /* overflow: scroll; */
    /* vertical-align: top;
    margin-top: 3%;
    display: inline-block;
    width: 40%;
    height: 100%; */
}

.guest_book::-webkit-scrollbar {
    width: 10px;
}

.guest_book::-webkit-scrollbar-button {
    display: none;
}

.guest_book::-webkit-scrollbar-thumb {
    background-color: #662900;
    border-radius: 7px;
    /* box-shadow: 3px rgba(40, 40, 40, 0.4); */
}

.guest_book .item {
    position: relative;
    width: 90%;
    /* height: 100px; */
    background-color: #dba237;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: 5%;
}

.guest_book .item h1 {
    padding-bottom: 10px;
    border-bottom: solid 2px #ad802c;
    color: #755924;
}

.guest_book .item p {
    padding-top: 10px;
    padding-bottom: 20px;
    color: #755924;
}

.guest_book .item .timestamp {
    padding-top: 10px;
    color: #58431a;
    padding-bottom: 0px;
    font-size: smaller;
}

.guest_book .item a {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.main.off {
    display: none;
}